.produto{
    background-color: #4248f5;
    color:blue
}

.produto-promocao{
    background-color: #42f557;
    color: blue;
}

.produto span{
    font-size: 24px;
    color: red;

}

.produto-promocao span{
    font-size: 24px;
    color: green;
}