.produto{
    background-color: green;
    color:blue
}

.produto-promocao{
    background-color: red;
    color: blue;
}

.produto span{
    font-size: 24px;
    color: red;

}

.produto-promocao span{
    font-size: 24px;
    color: green;
}